loyalty-marketplc-offers-payments-vouchers/src/main/resources/wsdl/BillingAdapterWSv4.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.etisalat.billingadapter.ae/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.etisalat.billingadapter.ae/1.0" name="BillingAdapterWSv4">
<types>
<xsd:schema>
<xsd:import namespace="http://www.etisalat.billingadapter.ae/1.0" schemaLocation="BillingAdapterWSv4.xsd"/>
</xsd:schema>
</types>
<message name="chargeImmediate">
<part name="parameters" element="tns:chargeImmediate"/>
</message>
<message name="chargeImmediateResponse">
<part name="parameters" element="tns:chargeImmediateResponse"/>
</message>
<message name="continueCharge">
<part name="parameters" element="tns:continueCharge"/>
</message>
<message name="continueChargeResponse">
<part name="parameters" element="tns:continueChargeResponse"/>
</message>
<message name="refundImmediate">
<part name="parameters" element="tns:refundImmediate"/>
</message>
<message name="refundImmediateResponse">
<part name="parameters" element="tns:refundImmediateResponse"/>
</message>
<message name="startCharge">
<part name="parameters" element="tns:startCharge"/>
</message>
<message name="startChargeResponse">
<part name="parameters" element="tns:startChargeResponse"/>
</message>
<message name="stopCharge">
<part name="parameters" element="tns:stopCharge"/>
</message>
<message name="stopChargeResponse">
<part name="parameters" element="tns:stopChargeResponse"/>
</message>
<message name="getUserName">
<part name="parameters" element="tns:getUserName"/>
</message>
<message name="getUserNameResponse">
<part name="parameters" element="tns:getUserNameResponse"/>
</message>
<message name="getIP">
<part name="parameters" element="tns:getIP"/>
</message>
<message name="getIPResponse">
<part name="parameters" element="tns:getIPResponse"/>
</message>
<message name="isAmountInUserRange">
<part name="parameters" element="tns:isAmountInUserRange"/>
</message>
<message name="isAmountInUserRangeResponse">
<part name="parameters" element="tns:isAmountInUserRangeResponse"/>
</message>
<message name="isAmountInUserRangeSpecialCase">
<part name="parameters" element="tns:isAmountInUserRangeSpecialCase"/>
</message>
<message name="isAmountInUserRangeSpecialCaseResponse">
<part name="parameters" element="tns:isAmountInUserRangeSpecialCaseResponse"/>
</message>
<message name="isAmountInRange">
<part name="parameters" element="tns:isAmountInRange"/>
</message>
<message name="isAmountInRangeResponse">
<part name="parameters" element="tns:isAmountInRangeResponse"/>
</message>
<message name="isAmountInRangeSpecialCase">
<part name="parameters" element="tns:isAmountInRangeSpecialCase"/>
</message>
<message name="isAmountInRangeSpecialCaseResponse">
<part name="parameters" element="tns:isAmountInRangeSpecialCaseResponse"/>
</message>
<portType name="BillingAdapterWS4">
<operation name="chargeImmediate">
<input message="tns:chargeImmediate"/>
<output message="tns:chargeImmediateResponse"/>
</operation>
<operation name="continueCharge">
<input message="tns:continueCharge"/>
<output message="tns:continueChargeResponse"/>
</operation>
<operation name="refundImmediate">
<input message="tns:refundImmediate"/>
<output message="tns:refundImmediateResponse"/>
</operation>
<operation name="startCharge">
<input message="tns:startCharge"/>
<output message="tns:startChargeResponse"/>
</operation>
<operation name="stopCharge">
<input message="tns:stopCharge"/>
<output message="tns:stopChargeResponse"/>
</operation>
<operation name="getUserName">
<input message="tns:getUserName"/>
<output message="tns:getUserNameResponse"/>
</operation>
<operation name="getIP">
<input message="tns:getIP"/>
<output message="tns:getIPResponse"/>
</operation>
<operation name="isAmountInUserRange">
<input message="tns:isAmountInUserRange"/>
<output message="tns:isAmountInUserRangeResponse"/>
</operation>
<operation name="isAmountInUserRangeSpecialCase">
<input message="tns:isAmountInUserRangeSpecialCase"/>
<output message="tns:isAmountInUserRangeSpecialCaseResponse"/>
</operation>
<operation name="isAmountInRange">
<input message="tns:isAmountInRange"/>
<output message="tns:isAmountInRangeResponse"/>
</operation>
<operation name="isAmountInRangeSpecialCase">
<input message="tns:isAmountInRangeSpecialCase"/>
<output message="tns:isAmountInRangeSpecialCaseResponse"/>
</operation>
</portType>
<binding name="BillingAdapterPort4Binding" type="tns:BillingAdapterWS4">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="chargeImmediate">
<soap:operation soapAction="/BillingAdapter/ChargeImmediate"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="continueCharge">
<soap:operation soapAction="/BillingAdapter/continueCharge"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="refundImmediate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startCharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stopCharge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAmountInUserRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAmountInUserRangeSpecialCase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAmountInRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isAmountInRangeSpecialCase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BillingAdapterWSv4">
<port name="BillingAdapterPort4" binding="tns:BillingAdapterPort4Binding">
<soap:address location="http://au347:7003/BillingAdapterV2/BillingAdapterWSv4"/>
</port>
</service>
</definitions>