loyalty-marketplc-offers-payments-vouchers/src/main/resources/wsdl/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.etisalat.ae/Middleware/SharedResources/Common/Common.xsd"
	 targetNamespace="http://www.etisalat.ae/Middleware/SharedResources/Common/Common.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="AdditionalInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Value" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>